/* normal state */
body 
{
    width		: 100%;
    height		: 100%;
    background	: #FFFFFF;
}
 
/* Mozilla proposal (dash) */
body:full-screen 
{
    width		: 100%;
    height		: 100%;
    background	: #FFFFFF;
}
 
/* W3C proposal (no dash) */
body:fullscreen 
{
    width		: 100%;
    height		: 100%;
    background	: #FFFFFF;
}
 
/* currently working vendor prefixes */
body:-webkit-full-screen, body:-moz-full-screen 
{
    width		: 100%;
    height		: 100%;
    background	: #FFFFFF;
}